* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 400px;
    height: 300px;
    border: 1px solid black;
    text-align: center;
    border-radius: 30px;
    box-shadow: rgba(149, 157, 165, 0.6) 0px 8px 24px;
    display: grid;
    grid-template-rows: 40px 50px 30px 40px 30px;
    gap: 25px;
}

h1 {
    color: blueviolet;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.userNum {
    display: flex;
    align-items: center;
}

.ext {
    width: 5%;
    border: 1px black solid;
    border-right: none;
    height: 30px;
    margin-left: 10px;
}

#inp {
    border: 1px black solid;
    border-left: none;
    width: 65%;
    height: 30px;
    text-align: 10px right;
    outline: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

::placeholder {
    text-align: justify;
    margin-left: 10px;
    border: none;
}

#btn {
    width: 120px;
    background: #7515CF;
    background: linear-gradient(90deg, rgba(117, 21, 207, 1) 0%, rgba(104, 72, 247, 1) 50%, rgba(117, 21, 207, 1) 100%);
    margin-left: 140px;
    border-radius: 10px;
    cursor: pointer;
    color: rgb(246, 239, 253);
    border: none;
}
#btn:hover {
    transform: scale(1.112);
}
#resetBtn {
  width: 120px;
  background: linear-gradient(90deg, rgba(117, 21, 207, 1) 0%, rgba(104, 72, 247, 1) 50%, rgba(117, 21, 207, 1) 100%);
  margin: 0 auto;
  border-radius: 10px;
  cursor: pointer;
  color: rgb(246, 239, 253);
  border: none;
  display: none; 
}
#resetBtn:hover {
  transform: scale(1.112);
}
